* {
    margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

:root {
    --backTop: 30%;
    --backTopHover: 30%;
    --answerTop: 20%;
    --blowUpWidth: 0;
    --blowUpTop: 0;
    --blowUpLeft: 0;
    --blowUpRight: 0;
}

.animation-wrapper {
    position:relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

img {
    display: block;
}

.back {
    position: absolute;
    top: var(--backTop);
    display: flex;
    flex-direction: column;
    width: 20%;
}

.back.hover {
    top: var(--backTopHover);
}

.devil-wrapper.back {
    right: 20%;
}

.angel-wrapper.back {
    left: 20%;
}

.animate {
    transition: width 0.5s ease-in-out,
                top 0.5s ease-in-out,
                right 0.5s ease-in-out,
                left 0.5s ease-in-out,
                opacity 0.5s ease-in-out;
    opacity: 1;
}

.opacity0 {
    transition: opacity 0.5s ease;
    opacity: 0;
}

.front {
    top:0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 20;
    pointer-events: none;
    display: flex;
    flex-direction: column;
}

.front.left0 {
    left: 0;
}

.front.right0 {
    right: 0;
}

.blowUp {
    overflow: hidden;
    position: absolute;
    z-index: 20;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    width: var(--blowUpWidth);
    top: var(--blowUpTop);
    opacity: 0;
}

.blowUp.right {
    right: var(--blowUpRight);
}

.blowUp.left {
    left: var(--blowUpLeft);
}

.person {
    width: 100%;
}

#back-button {
    background-color: rgba(65, 57, 57, 0.336);
    padding: 20px;
    cursor: pointer;
}

.test {
    transition: width 0.5s ease-in-out,
    top 0.5s ease-in-out,
    right 0.5s ease-in-out,
    left 0.5s ease-in-out;
}

.text {

    background-color: rgba(65, 57, 57, 0.336);
    padding: 20px;
}

.answer-wrapper {
    z-index: 100;
    position: absolute;
    width: 20%;
    height: 4em;
    top:var(--answerTop);
    transition: opacity 0.5s ease-in-out,
                visibility 0.5s;
}

.answer-wrapper.devil {
    right: 20%;
}

.answer-wrapper.angel {
    left: 20%;
}

.answer-wrapper.hidden {
    visibility: none;
    opacity: 0;
}

.question-wrapper {
    z-index: 100;
    position: absolute;
    width: 100%;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question {
    width: 60em;
}

.test {
    background-color: green;;
}