#img-cont canvas {
    position: absolute;
    pointer-events: none;
}

#card-wrapper {
    display: block;
    position: relative;
    white-space: nowrap;
}

.card {
    display: inline-block;
    opacity: 0;
    transition: all 0.3s ease 0s;
}

.card:hover {
    opacity: 0.65;
}