* {
    border: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: grid;
    grid-template-rows: 1fr 9fr;
}

/*header*/

header {
    position: absolute;
    display: flex;
    align-items: start;
    width: 100%;
    height:10%;
    z-index: 100;
    background-color: #eee;
}

#logo {
    margin: 20px;
    display: inline-block;
}

#searchbar-wrapper {
    display: inline-block;
    flex-grow: 1;
    border: 2px solid black;
    margin: 5px 10px;
}

#searchbar {
    box-sizing: border-box;
}

/*main*/
main {
    display: grid;
    grid-template-rows: 1fr 9fr;
}

#slotmachine-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    overflow: hidden;
}

.invisible-scroll-helper { 
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.scroller {
    overflow: hidden;
}

.scroll-helper {
    width: 100%;
    height: 100%;
    overflow: scroll;
    pointer-events: none;
}

.column {
    box-sizing: border-box;
    position: relative;
    top: 0;
    transition: top .5s ease-in-out 0s;
}

.post-tile {
    height: 30%;
    box-sizing: border-box;
    border: 2px solid black;
}

#searchbar-suggestion-wrapper {
    display: none;
    position: absolute;
    z-index: 5;
    list-style-type: none;
}

.banner {
    position: absolute;
    top: 0;
    background-color: rgb(238, 238, 238);
    width: 100%;
}

.active-tile {
    display: block !important;
}

.inactive-tile {
    display: none !important;
}