* {
    border: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: grid;
    grid-template-rows: 1fr 1fr 9fr;
}

header {
    display: flex;
}

#logo {
    flex: 10%;
}

#searchbar-wrapper {
    flex: 80%;
}

#searchbar {
    box-sizing: border-box;
    border: 2px solid black;
    margin: 5px 10px;
}

#slotmachine-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    overflow: hidden;
}

.scroll-scroller {
    height: 100%;
    overflow: auto;
}

.test-tile {
    height: 300px;
    box-sizing: border-box;
    border: 2px solid black;
}

.scroll-wrapper {
    width: 100%;
    
    overflow: hidden;
}

#left-column {
    background-color: green;
}

#middle-column {
    background-color: yellowgreen;
}
#right-column {
    background-color: yellow;
}
