@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');
* {
    border: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Lexend Mega';
    display: grid;
}


/*header*/

header {
    position: absolute;
    display: flex;
    align-items: start;
    width: 100%;
    height: 56px;
    z-index: 100;
    background-color: #e6ecee;
    border-bottom: 2px #5e7984 solid;
}

#logo {
    margin: 3px 2px 3px 10px;
    padding: 2px;
    background-color: #0a2631;
    display: inline-block;
    border-radius: 10px;
}

#searchbar-wrapper {
    display: inline-block;
    flex-grow: 1;
    margin: 5px 10px;
}

#searchbar {
    box-sizing: border-box;
}


/*main*/

main {
    display: grid;
    grid-template-rows: 56px 9fr;
}

#slotmachine-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    overflow: hidden;
}

.invisible-scroll-helper {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.scroller {
    overflow: hidden;
}

.scroll-helper {
    width: 100%;
    height: 100%;
    overflow: scroll;
    pointer-events: none;
}

.column {
    box-sizing: border-box;
    position: relative;
    top: 0;
    transition: top .5s ease-in-out 0s;
}

.post-tile {
    height: 30%;
    box-sizing: border-box;
    pointer-events: auto;
    overflow: hidden;
}

#searchbar-suggestion-wrapper {
    display: none;
    position: absolute;
    z-index: 5;
    list-style-type: none;
}

.banner {
    position: absolute;
    top: 0;
    background-color: #e6ecee;
    width: 100%;
    border-top: 2px #5e7984 solid;
    border-bottom: 2px #5e7984 solid;
    display: flex;
    align-items: center;
    font-size: 24px;
}

.primary-color {
    color: #fbc535;
}

.secondary-color {
    color: #b12151;
}

.active-tile {
    display: block !important;
}

.inactive-tile {
    display: none !important;
}

.current-post {
    position: absolute;
    z-index: 100;
}

.back-button {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    padding: 30px;
    background-color: rgba(127, 127, 127, 0.5);
    ;
    transition: opacity .3s ease, background-color .25s ease-in-out;
    opacity: 0;
    z-index: 2147483647;
}

.back-button:hover {
    background-color: rgba(200, 125, 125, 0.5);
}

.mouse-move-catcher {
    z-index: 200;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.tile-image {
    display: block;
    position: relative;
}

.post-container {
    width: 100%;
    height: 100%;
    z-index: 200;
    top: 0;
    position: absolute;
    overflow: hidden;
}

.post-frame {
    height: 100%;
    width: 100%;
}

.post-description-container {
    position: absolute;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    opacity: 0;
    transition: opacity .3s ease;
}

.event-post-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.music-player-wrapper {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
}

.time-handler {
    flex-grow: 1;
    display: flex;
}

.time-slider-wrapper {
    display: flex;
    flex-grow: 1;
    align-items: center;
    position: relative;
}

.time-slider {
    flex-grow: 1;
    overflow: hidden;
    height: 6px;
    background-color: white;
}

.time-slider-progress {
    position: relative;
    background-color: #31b8ad;
    width: 0;
    height: 400px;
}

.time-display {
    color: #d3d3d3;
    margin: 10px;
}

.play-pause-button {
    display: inline;
    margin: 10px;
}

.mid-point {
    overflow: hidden;
    position: absolute;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background: white;
    transition: width 0.2s, height 0.2s, left .2s;
}

.mid-point-label {
    position: absolute;
    top: 0;
    color: black;
    opacity: 0;
    transition: opacity .25s ease, top .2s, left .2s;
}

.banner-text {
    display: inline;
    white-space: nowrap;
    padding: 20px;
}

.banner-spacer {
    display: inline;
    white-space: nowrap;
}

.banner-content-wrapper {
    position: relative;
}

.contact-description-wrapper {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.contact-description {
    color: white;
    padding: 20px;
}

.contact-post-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-description-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    width: 70%;
}

.event-description {
    color: white;
    margin: auto;
    padding: 20px;
}

.event-description-title {
    text-align: center;
}

.event-description-author-wrapper {
    width: 100%;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}

.event-description-hoverable:hover {
    color: #cabc60;
    cursor: pointer;
}

.event-description-author {
    color: white;
    margin: 20px;
}

.event-description-audiolink {
    color: white;
    font-size: 20px;
    margin: 0px 10px 20px 0px;
}

.event-description-author-name {
    font-size: 30px;
    text-align: left;
}