* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header, footer {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Monteserrat", sans-serif;
    color: #ccb984;
    background-color:black;
}

header img {
    height: 50%;
}

.animation {
    height: 100vh;
    background-color: black;
    position: relative;
    overflow: hidden;
}

.tree {
    height: 70vh;
    position: absolute;
}

#tree001 {
    top: 20%;
    left: 100%;
}

#tree002 {
    top: 30%;
    left: 100%;
}

.train-background {
    position: absolute;
    z-index: 1;
}

.train-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.highlights {
    z-index: 10;
}

.lowlights {
    z-index: 5;
}

.text {
    position: absolute;
    left: 100%;
    top: 25%;
    height: 50vh;
}