* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header, footer {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Monteserrat", sans-serif;
    color: #ccb984;
    background-color: black;
}

header img {
    height: 50%;
}

.animation {
    height: 100vh;
    background:linear-gradient(#000000, #8b8d8d);
    /*background-color: black;*/
    position: relative;
    overflow: hidden;
}

.animation img {
    position: absolute;
}

.tree {
    height: 70vh;
}

#tree001 {
    top: 40%;
    left: 100%;
}

#tree002 {
    top: 50%;
    left: 100%;
}

#pole001 {
    top: 40vh;
    left: 100%;
    height: 70vh;
}

.train-background {
    position: absolute;
    z-index: 1;
}

.train-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}


.text {
    position: absolute;
    left: 100%;
    top: 25%;
    height: 50vh;
}